/__pycache__
/testdata.csv
/deep-active-learning
/libact
/pytorch_active_learning
/runs/
/train/
/train_da/
/param/
/Files_scale/
/Files_scale_0_123_456789/
/Files_scale_01_2345_6789/
/Files_scale_01_2345_6789+rest/
/Files_scale_raw_original/
/Files_rest/
/wandb
/csvs
/features
/features_originalrange
/features_EEGNet_10
/output_bcic
/output_bcic_modi
/spectrogram_images

Model/__pycache__/DCAN_models.cpython-38.pyc
Model/__pycache__/DeepConvNet_models.cpython-38.pyc
Model/__pycache__/EEGNet_models.cpython-38.pyc
Model/__pycache__/model_maker.cpython-38.pyc
bcic_datasets_[0,38].pkl

