/__pycache__
/testdata.csv
/deep-active-learning
/libact
/pytorch_active_learning
/runs/
/train/
/train_PAST/
/train_da/
/param/
/Files_scale/
/Files_scale_0_123_456789/
/Files_scale_01_2345_6789/
/Files_scale_01_2345_6789+rest/
/Files_rest_include_subN/
/Files_scale_01_2345_6789_include_subN
/Files_scale_raw_original/
/Files_scale_CS/
/Files_rest/
/wandb
/csvs
/csvs_DAsetting
/csvs_DGsetting
/csvs_traditional
/features
/features_originalrange
/features_EEGNet_10
/output_bcic
/output_bcic_modi
/spectrogram_images
/cm
/features_20220417이전
/features_MS(embedding)
/features_MS(emd)
/features_rest(embedding)
/features_rest(emd
/features_soso

/train_CS
/train_DANN

Model/__pycache__/DCAN_models.cpython-38.pyc
Model/__pycache__/DeepConvNet_models.cpython-38.pyc
Model/__pycache__/EEGNet_models.cpython-38.pyc
Model/__pycache__/model_maker.cpython-38.pyc
bcic_datasets_[0,38].pkl

